body {
    background-color: darkcyan;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trafficLight {
    width: 100px;
    height: 250px;
    background-color: rgb(58, 56, 56);
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 20px 0;
}

.light {
    background-color: rgba(105, 105, 105, 0.223);
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.light.red {
    background-color: darkred;
    box-shadow: 0 0 25px red;
}

.light.yellow {
    background-color: rgb(214, 202, 28);
    box-shadow: 0 0 25px rgba(170, 255, 0, 0.785);
}

.light.green {
    background-color: rgb(6, 155, 14);
    box-shadow: 0 0 25px rgb(29, 241, 22);
}